<div class="main-post-container">
    <form action="/api/expenses/category/{{name}}" method="post">
        <p class="title">Select Category</p>
        <div class="content">
            <select name="catId" value="">
                <option disabled selected hidden value="">Select Category</option>
                {{#each categories}}
                <option value="{{id}}">{{category}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit">Display</button>
    </form>
    <div class="post-expenses">
        <div class="top-container">
            <p class="title">Expenses By Category</p>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
                {{#each catExpenses}}
                <tr>
                    <div class="content">
                        <td class="filter-date">
                            {{dateFormatter date}}
                        </td>
                        <td class="filter-category">
                            {{category}}
                        </td>
                        <td class="filter-amount">
                            {{amount}}
                        </td>
                    </div>
                    {{/each}}
                    <p class="total">Total
                        R {{totalAmount.total_amount}}
                    </p>
                </tr>
            </table>
        </div>
        <div class="top-container">
            <p class="title">All Expenses</p>
            <canvas id="myChartTwo" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="buttons-container">
        <button class="add_expense">
            <a href="/api/expenses/{{name}}">
                Previous
            </a>
        </button>
    </div>
</div>
<script src="/chartTwo.js" type="module"></script>