<div class="inner-container">
    <div class="inner-container">
        <p class="messages">{{failed}}</p>
        <form action="/api/get_code/{{user.first_name}}" method="post">
            <p class="title">Sign in</p>
            <p class="name">{{user.first_name}}</p>
            <p class="email">{{user.email}}</p>
            <div class="content">
                <div class="inner-content">
                    <p class="code">Code: </p>
                    <p class="name">{{uid}}</p>
                </div>
            </div>
            <div class="content">
                <input value="" name="code" class="email" type="text" placeholder="Enter code...">
                <button class='login' type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>