<div class="main-post-container">
    <form action="/api/expenses/{{name}}" method="post">
        <p class="title">Product</p>
        <div class="content">
            <input name="price" type="number" value="" step={0.5} placeholder="Enter item price..." min='1'>
            <p for="date">Date:</p>
            <input type="date" name="date">
            <p for="date">Add Category. Not required</p>
            <input name="new_category" value="" class="category" type="text" placeholder="Add new category...">
            <select name="category">
                <option disabled selected hidden value="">Select Category</option>
                {{#each categories}}
                <option value="{{id}}">{{category}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit">Add Item</button>
    </form>
    <div class="post-expenses">
        {{!-- <div class="inner-container"> --}}
            <div class="top-container">
                <p class="title">All Expenses</p>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                    {{#each expenses}}
                    <tr>
                        <div class="content">
                            <td class="expense-date">
                                {{dateFormatter date}}
                            </td>
                            <td class="expense-category">
                                {{category}}
                            </td>
                            <td class="expense-amount">
                                {{amount}}
                            </td>
                        </div>
                        {{/each}}
                        <p class="total">Total
                            R {{totalAmount.total_amount}}
                        </p>

                    </tr>
                </table>
                {{!--
            </div> --}}
        </div>
        <div class="top-container">
            <p class="title">All Expenses</p>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="add_expense">
        <button class="">Add expense</button>
        <button class="">
            <a href="/api/expenses/category/{{name}}">
                Categories
            </a>
        </button>
    </div>
</div>
<script src="/chart.js" type="module"></script>