<div class="main-post-container">
    <div class="post-expenses">
        <div class="top-container">
            <p class="title">All Expenses Details</p>
            <div class="total-container">
                <p class="total-text">Total:</p>
                <p class="Total">R {{totalExpenses}}</p>
            </div>
            <table>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
                <tr>
                    {{#each expenses}}
                <tr>
                    <td class="expense-category">
                        {{category}}
                    </td>
                    <td class="expense-amount">
                        {{amount}}
                    </td>
                    <td class="expense-date">
                        {{dateFormatter date}}
                    </td>
                </tr>
                {{/each}}
                <th>
                    Total
                </th>
                <td>
                    {{totalExpenses}}
                </td>
            </table>
        </div>
        <div class="top-container">
            <p class="title">All Expenses</p>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="input-expense-container hide">
        <form action="/api/expenses/{{name}}" method="post">
            <p class="title">Expense</p>
            <div class="input-container">
                <input name="price" type="number" value="" step={0.5} placeholder="Enter item price..." min='1'>
                <p for="date">Date:</p>
                <input type="date" name="date">
                <p for="date">Add Category. Not required</p>
                <input name="new_category" value="" class="category" type="text" placeholder="Add new category...">
                <select name="category">
                    <option disabled selected hidden value="">Select Category</option>
                    {{#each categories}}
                    <option value="{{id}}">{{category}}</option>
                    {{/each}}
                </select>
                <button type="submit">Add Item</button>
            </div>
        </form>
    </div>
    <div class="input-income-container hide">
        <form action="/api/income/{{name}}" method="post">
            <p class="title">Income</p>
            <div class="input-container">
                <input name="incomeAmount" type="number" value="" step={0.5} placeholder="Enter income" min='1'>
                <p for="date">Date:</p>
                <input type="date" name="incomeDate">
                <p for="date">Add Source of Income. Not required</p>
                <input name="newIncome" value="" class="category" type="text" placeholder="Add new Source Of Income...">
                <select name="incomes" value="">
                    <option disabled selected hidden value="">Source of Income</option>
                    {{#each credits}}
                    <option value="{{id}}">{{credit}}</option>
                    {{/each}}
                </select>
                <button type="submit">Add Details</button>
            </div>
        </form>
    </div>
</div>

<div class="main-post-container">
    <div class="post-expenses">
        <div class="top-container">
            <form action="/api/expenses/date/{{name}}" method="post">
                <div class="top-container">
                    <p class="title">Duration</p>
                    <input name="duration" class="name" type="number" placeholder="Enter duration...">
                    <button class="add" type="submit">Add</button>
                </div>
            </form>
            <p class="title">Product</p>
            <table>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
                {{#each daysDuration}}
                <tr>
                    <td class="expense-days-category">
                        {{category}}
                    </td>
                    <td class="expense-days-amount">
                        {{amount}}
                    </td>
                    <td>
                        {{dateFormatter date}}
                    </td>
                    {{/each}}
                </tr>
            </table>
        </div>
        <div class="top-container">
            <p class="title">Expenses for the past {{days}} days.</p>
            <canvas id="myDaysChart" width="400" height="400"></canvas>
        </div>
    </div>

</div>
<div class="main-post-container">
    <div class="top-container">
        <form action="/api/expenses/category/{{name}}" method="post">
            <p class="title">Select Category</p>
            <div class="content">
                <select name="catId" value="">
                    <option disabled selected hidden value="">Select Category</option>
                    {{#each categories}}
                    <option value="{{id}}">{{category}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit">Display</button>
        </form>
    </div>
    <div class="post-expenses">
        <div class="top-container">
            <p class="title">Expenses By Category</p>
            <table>
                <tr>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                {{#each catExpenses}}
                <tr>
                    <div class="content">
                        <td class="filter-category">
                            {{category}}
                        </td>
                        <td class="filter-date">
                            {{dateFormatter date}}
                        </td>
                        <td class="filter-amount">
                            {{amount}}
                        </td>
                    </div>
                    {{/each}}
                    <p class="total">Total
                        R {{totalAmount.total_amount}}
                    </p>
                </tr>
            </table>
        </div>
        <div class="top-container">
            <p class="title">Categories Expenses</p>
            <canvas id="myChartTwo" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="buttons-container">
        <button class="add_expense">
            <a href="/api/expenses/{{name}}">
                Previous
            </a>
        </button>
    </div>
</div>
<div class="buttons-container">
    <button class="add_expense expense-button">Show Add Expense</button>
    <button class="add_expense income-button">Show Add Income</button>
    <button class="add_expense">
        <a href="/api/expenses/category/{{name}}">
            Categories
        </a>
    </button>
</div>
<div class="main-post-container">
    <div class="post-expenses">
        <div class="content-container">
            {{!-- <h1 class='main-title'>All Incomes/Expenses</h1> --}}
            <div class="bottom-container">
                <div>
                    <div class="top-container">
                        <p class="title">Income</p>
                        <div class="total-container">
                            <p class="total-text">Total:</p>
                            <p class="Total">R {{total}}</p>
                        </div>
                        <table>
                            <tr>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Amount R
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            {{#each income}}
                            <tr>
                                <td class="income-credit">
                                    {{credit}}
                                </td>
                                <td class="income-amount">
                                    {{amount}}
                                </td>
                                <td class="income-date">
                                    {{dateFormatter date}}
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                    <div class="top-container">
                        <p class="title">Expenses</p>
                        <div class="total-container">
                            <p class="total-text">Total:</p>
                            <p class="Total">R {{totalExpenses}}</p>
                        </div>
                        <table>
                            <tr>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Amount R
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            {{#each expenses}}
                            <tr>
                                <td>
                                    {{category}}
                                </td>
                                <td>
                                    {{amount}}
                                </td>
                                <td>
                                    {{dateFormatter date}}
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
                <div class="top-container">
                    <p class="title">Total</p>
                    <canvas id="myChartLast" width="400" height="400"></canvas>
                </div>
                <div class="top-container">
                    <p class="title">All Incomes</p>
                    <canvas id="myChartThree" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/chart.js" type="module"></script>
<script src="/chartThree.js" type="module"></script>
<script src="/chartLast.js" type="module"></script>
<script src="/daysChart.js" type="module"></script>
<script src="/handler.js" type="module"></script>
<script src="/chartTwo.js" type="module"></script>
{{!--
<script src="/chartCategory.js" type="module"></script> --}}