<div class="inner-container">
    <form action="/api/expenses/{{name}}" method="post">
        {{name}}
        <p class="title">Product</p>
        <div class="content">
            <div class="inner-content">
                R
                <input name="price" type="number" value="" step={0.5} placeholder="Enter item price..." min='1'>
            </div>
            <div class="inner-content">
                <label for="date">Date:</label>
                <input type="date" name="date">
            </div>
        </div>
        {{!-- Dropdown gender --}}
        <div class="content">
            <div class="inner-content">
                <div class="inner-content">
                    <input name="new_category" value="" class="category" type="text" placeholder="Add new category...">
                </div>
            </div>
            <div class="inner-content">
                <select name="category">
                    <option disabled selected hidden value="">Select Category</option>
                    {{#each categories}}
                    <option value="{{id}}">{{category}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <button type="submit">Add Item</button>
        <div class="link">
            <a href="/api/expenses/{{name}}/all">
                View All Expenses
            </a>
        </div>
    </form>
    <img class="display-image" src="/img/trackertwo.webp" alt='logo' />
</div>